/* color variables */
:root {
    --background: #F7F3E9;
    --secondBG: #E8DDC4;
    --altBG: #2F3A32;
    --primaryAccent: #4b2E05;
    --secondAccent: #C0A060; /* buttons, icons... */
    --textDark: #2D2D2D;
    --textLight: #FDF8EF;
    --glow: #FFF5D9;
    --alert: #A65E2E;
}
/* Header styling */

/* Logo */
.logo {
    flex-shrink: 0; /* Prevents logo from shrinking */
}

.logo img {
    height: 60px; /* Set preferred height */
    width: auto; /* Maintains aspect ratio */
    min-height: 50px; /* Min size */
    max-height: 80px; /* Max size */
    display: block;
}

/* Icon styling */
.Icon {
    width: 24px;
    height: 24px;
    display: block;
}

/* Search icon */
.searchBtn .icon {
    width: 20px;
    height: 20px;
}

/* Header icons */
.iconLink .Icon {
    width: 24px;
    height: 24px;
}
/* header styling end */